button {
    display: block;
    outline: none;
    padding: 2vh;
    width: 100%;
    font-size: 2em;
    border: none;
    margin-top: 2vh;
    margin-bottom: 1vh;
    background: coral;
    border-radius: 1vw;
    transition: background-color 0.2s;
}

button:hover {
    background: rgb(255, 140, 98);
}

button:active {
    background: rgb(214, 115, 79);
}

button.dark {
    background-color: #5c1a1a;
}

button.dark:hover {
    background-color: #722222;
}

button.dark:active {
    background-color: #39113e;
}
