.card {
    position: relative;
    display: inline-block;
    width: var(--cardWidth);
    height: auto;
    user-select: none;
    background-size: cover;
}

.hoverable {
    transition: transform 0.2s;
}

.hoverable:hover {
    transform: translateY(-50px) !important;
}

.disabled {
    filter: brightness(0.2) !important;
}

.disabled:hover {
    transform: translateY(0px) !important;
}
