* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    font-family: "lebogoFont", "Roboto", sans-serif;
}

#OnuLogo {
    position: absolute;
    top: 2vh;
    left: 2vw;
    width: min(12vw, 20vh);
}
#OnuLogo.dark {
    filter: brightness(0.9) saturate(0.9);
}

@keyframes scrolling {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -307px 820px;
    }
}

body {
    background-color: #805350;
    background-image: url("../assets/images/cards_repeat.png");
    color: #ddd;
    animation: scrolling 100s linear infinite;
    transition: background-color 0.2s;
}

body.dark {
    background-color: #111;
}

.input-group {
    margin-top: 2vh;
}

.menu {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

label {
    display: block;
    font-size: 2em !important;
    padding-bottom: 0.5vh;
}

.text-input {
    display: block;
    outline: none;
    padding: 2vh;
    font-size: 2em;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.text-input.invalid {
    animation: wiggle 0.25s ease-in-out;
    /* wait 5 seconds between animations */
}

.text-input.dark {
    background: rgba(204, 41, 41, 0.2);
}

#serverSelection {
    /* set this element fixed to the bottom right of the screen */
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    font-size: 1.2em;
    padding: 1vh;
    width: 200px;
    max-width: 98vw;
}

#debugOutput {
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* flex-direction: column; */
    position: absolute;
    top: 30vh;
    left: 0;
    height: 70vh;
    width: 35vw;
    overflow: auto;
    resize: both;
}

#debugLog * {
    font-family: sans-serif;
    color: rgb(196, 196, 196);
    white-space: nowrap;
}

.devButton {
    font-size: 1em;
    width: auto;
    display: inline-block;
    padding: 1.2vh;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    user-select: none;
}

#devToggle {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

#devToggle.active {
    background-color: green;
}

#versionNumber {
    font-family: "Roboto", sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.8em;
    padding: 0.4vh;
    color: #111;
}

#versionNumber.dark {
    color: #ddd;
}

a {
    color: rgb(98, 98, 255);
}
