:root {
    --stackCardWidth: 200px;
}

#stacks {
    display: grid;
    grid-template-columns: repeat(2, min(var(--stackCardWidth), 40vw));
    gap: 1vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stackCard {
    position: absolute;
    width: min(var(--stackCardWidth), 40vw);
    /* transition opacity and transform .3s */
    transition: opacity 1s, transform 1s, scale 1s;
    opacity: 1;
}

.drawTurn {
    pointer-events: none;
    opacity: 0;
    transform: translateY(70vh) !important;
    scale: 0.7;
}
