.text-input {
    display: block;
    outline: none;
    padding: 2vh;
    font-size: 2em;
    border: none;
    background: var(--input-color);
    border-radius: 1vw;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.text-input.invalid {
    animation: wiggle 0.25s ease-in-out;
}
